<% include partials/header %>

<div class="text-center">
<h1>This is Landing Page</h1>
<div>
<a href="/travelgrounds" class="btn btn-primary text-capitalize full-width p-y-m">Go to Travelground Page</a>    
</div>
</div>
 <% include partials/footer %>
