<% include partials/header %>
	<link rel="stylesheet" href="/css/login.css">

    <div class="ui one column center aligned grid">
      <div class="column six wide form-holder">
        <h2 class="center aligned header form-head">Login</h2>

        <form class="ui form" action="/login" method="POST">
        
          <div class="field">
        <input type="text" placeholder="username" name="username" required>
      </div>
      <div class="field">
        <input type="password" placeholder="password" name="password" required>
      </div>
      <div class="field">
        <input type="submit" value="Login" class="ui button large fluid green">
      </div>
  
        </form>
        </div>
        </div>
        </div>
    
    <% include partials/footer %>
</div>