<% include partials/header %>

<div>
    <div class="container">
        <header class="jumbotron">
            <div>
                <h1>Welcome To Travel Camp </h1>
                <p>View Our hand-picked travelgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg " href="/campgrounds/new">Add a new Travelground</a>
                </p>
            </div>
        </header>
</div>

 <% include partials/footer %>
