<% include ../partials/header %>
	<link rel="stylesheet" href="/css/login.css">


    <div class="ui main text container segment item">
        <h2 class="text-center">Create a New Travelground</h2>

        <form class="ui form" action="/travelgrounds" method="POST">
            
            <div class="field">
            <label>Title</label>
            <input type="text" placeholder="Title" name="name" required>
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" placeholder="Image" name="image" required>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="description" required></textarea>
        </div>
        <div class="field">
            <label>Post</label>
            <input class="ui big basic button violet" type="submit">
        </div>
            
        </form>
            </div>
        
    <% include ../partials/footer %>
