<% include ../partials/header %>


    <div class="container">
        <header class="jumbotron item1">
            <div>
                <h1><i class="fa fa-plane" aria-hidden="true"></i>  Welcome To Travel Camp </h1>
                <p>View Our hand-picked Travelgrounds from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg " href="/travelgrounds/new">Add a new Travelground</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex;flex-wrap: wrap;">

            <% travelgrounds.forEach(function(travelground){ %>
                <div class="col-md-3 col-sm-6">
                    
                    <div class="thumbnail item2">
                        <img class="image" src="<%= travelground.image%>" alt="Image Not Found">
                    <div class="caption">
                        <h4><%= travelground.name %></h4>
                    </div>
                    <div class="description">
	                    <p><%= travelground.description.substring(0,20) %>  ...</p>
	                </div>
                    <br>
                    <div class="extra">
	                 <a href="/travelgrounds/<%= travelground._id %>" class="ui floated basic blue button"> Read More<i class="right chevron icon"></i>
        	         </a>
        	        </div>
        	        <br>
                    </div>
                    
                </div>
                <% }); %>
        </div>
    </div>
            <% include ../partials/footer %>
